<div class="center hero-unit">
  <h1>Welcome to the annotator</h1>

  <h2>
    This is the home page for the application.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<div align =center>
<%= link_to image_tag("me_speech.png", alt: "me") %>
</div>

